<web-app>

     <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>servlet.AuthFilter</filter-class>
        <load-on-startup>1</load-on-startup>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>GetTownsServlet</servlet-name>
        <servlet-class>servlet.GetTownsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTownsServlet</servlet-name>
        <url-pattern>/town</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JSONservlet</servlet-name>
        <servlet-class>servletjson.JSONservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSONservlet</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SingInServlet</servlet-name>
        <servlet-class>servlet.SingInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingInServlet</servlet-name>
        <url-pattern>/singin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>servlet.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>servlet.UserCreateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>servlet.UserUpdateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

</web-app>
